.feed-form {
    input {
        padding: 0 20px;
        height: 28px;
        border: none;
        font-family: 'Tele2 TextSans Web SHORT';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        background: $main-color;
        color: #fff;
    }
}